body{
    text-align: center;
    background-color: rgb(164, 198, 235);
}
nav{
    position: absolute;
    top: 75px;
    right: 50px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    color: black;
}
nav a:hover{
    font-weight: bold;
    font-size: 22px;
    color: blue;
    transition: 0.5s;
}
.logo{
    width: 15%;
    border-radius: 100%;
}
h3{
    text-align: left;
}
.capa{
    width: 95%;
}
.beneficios{
    text-align: left;
    background-color: rgb(157, 224, 222);
    display: inline-block;

}
.foto-beneficio{
    width: 30%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #00000 0;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    margin-right: 350px;
} 
li{
    padding: 20px;
}  
.foto-beneficio {
    width: 30%;
}